<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Allsvenskan</h1>
<p>2022</p>
<a href="http://127.0.0.1:8000/tabell/"> <button>tabeller</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
<a href="http://127.0.0.1:8000/tabell/2023/1"> <button>1</button> </a>
{% for u in test %} {{u}} {% endfor %}
</body>
</html>